<h1><%= @game.name %></h1>
<h2>Theme: <%= @game.theme %></h2>
<h2><a href="/games/<%= @game.id %>/sample-board">See a sample 5x5 board</a></h2>
<h3>Your clue list:</h3>
	<%= erb :"/clues/new" %>
	<ul id='clue_list'>
	<% @game.clues.reverse.each do |clue| %>
		<li><%= clue.text %> <br>Value: <%= clue.pt_value %></li>
		<% if clue.user.id == current_user.id %>
			<a href="/games/<%= clue.game.id%>/clues/<%= clue.id%>">Edit</a>
			<form action='/games/<%= clue.game.id%>/clues' method='post'>
				<input type='hidden' name='_method' value='delete'>
				<input type='submit' value='Remove'>
			</form><br>
		<% end %>
	<% end %>
	</ul>


